<h1>Eating Burgers!</h1>
<div class "menu">
  <h2>Burger Menu!</h2>
  <ul>
    {{#each burgers}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
      {{/unless}}
    {{/each}}
  </ul cl>
</div>
<div class="devoured">
  <h2>Burgers we've already had!</h2>
  <ul>
    {{#each burgers}}
      {{#if devoured}}
        {{> burgers/devoured-block devoured=true}}
      {{/if}}
    {{/each}}
  </ul cl>
</div>
<form class="create-form">
  <div class="form-group">
    <h2>Add a Burger</h2>
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
          <br>
          <br>
    <button type="submit" class="btn">Add Burger!</button>
  </div>
</form>

  


